block vars
    -var cssClass = 'StringField'
block th
    th(class=cssClass): span #{field.caption}
block td
    td(class=cssClass)
        if inplaceEditor
            block inplace-editor
                div.
                    !{ inplaceEditor }
        else
            block td.span
                span ${ record.#{ name } }
