extends view.form.field.pug

append vars
    -var cssClass = 'BooleanField'
    -var labelClass = 'form-label form-label-checkbox'
    -var spanClass = 'form-field-readonly bool-text'

block readonly
    | {{ record.#{ name } ? '#{ Katrid.i18n.gettext('yes') }' : '#{ Katrid.i18n.gettext('no') }' }}

block label
    if !attrs.nolabel && !fieldAttributes.inlineEditor
        label(class=labelClass)
            span #{field.caption}
            | &nbsp;

block field
    label.checkbox(ng-show="dataSource.changing")
        input.form-field.form-control(type="checkbox")&attributes(attrs)
        if field.helpText
            | #{ field.helpText }
        else
            | #{ field.caption }
        i
